<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Rooter</servlet-name>
        <servlet-class>Controller.Rooter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>Controller.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Interns</servlet-name>
        <servlet-class>Controller.Interns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InternDetail</servlet-name>
        <servlet-class>Controller.InternDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIntern</servlet-name>
        <servlet-class>Controller.UpdateIntern</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rooter</servlet-name>
        <url-pattern>/Rooter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Interns</servlet-name>
        <url-pattern>/Interns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternDetail</servlet-name>
        <url-pattern>/InternDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIntern</servlet-name>
        <url-pattern>/UpdateIntern</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Rooter</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/importLib.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
